.error-msg {
    color: white;
  }
  .fix-error-icon {
    top: 27px;
  }

  .error-message{
    border: 1px solid red;
    background-color: rgb(213,56,56);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }