<div class="container animated slideInRight">
  <div class="content">
    <h1>
      Sign in
    </h1>
    <form class="my-form" [formGroup]="userForm" [hidden]="isLoad || isError">
      <div class="form-group" [ngClass]="displayFieldCss('driverName')">
        <div>
          <label for="exampleInputEmail1">Driver's Name</label>
          <input type="text" class="form-control" formControlName="driverName" placeholder="Driver Name">
        </div>
        <app-field-error-display [displayError]="isFieldValid('driverName')" [errorMsg]="nameError">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('carType')">
        <label for="exampleInputPassword1">Car Type</label>
        <input type="text" class="form-control" formControlName="carType" placeholder="Car Type">
        <app-field-error-display [displayError]="isFieldValid('carType')" [errorMsg]="carTypeError">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('carRegistration')">
        <label for="exampleInputPassword1">Car Registration</label>
        <input type="text" class="form-control" formControlName="carRegistration" placeholder="Car Registration">
        <app-field-error-display [displayError]="isFieldValid('carRegistration')" [errorMsg]="carRegistrationError">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('reasonForVisitation')">
        <label for="exampleInputPassword1">Reason for Visitation</label>
        <textarea type="text" class="form-control" formControlName="reasonForVisitation" placeholder="Reason for Visitation">
          </textarea>
          <app-field-error-display [displayError]="isFieldValid('reasonForVisitation')" [errorMsg]="reasonForVisitationError">
          </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('personResponsible')">
        <label for="exampleInputPassword1">Person Responsible</label>
        <input type="text" class="form-control" formControlName="personResponsible" placeholder="Person Responsible">
        <app-field-error-display [displayError]="isFieldValid('personResponsible')" [errorMsg]="personResponsibleError">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('email')">
        <label for="exampleInputPassword1">Email</label>
        <input type="text" class="form-control" formControlName="email" placeholder="Email">
        <app-field-error-display [displayError]="isFieldValid('email')" [errorMsg]="emailError">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('password')">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Password" passwordToggle required>
        <app-field-error-display [displayError]="isFieldValid('password')" [errorMsg]="passwordError" [isPasswordField]="true">
        </app-field-error-display>
      </div>
      <div class="form-group" [ngClass]="displayFieldCss('confPassword')">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confPassword" placeholder="Confirm Password" passwordToggle
          required>
          <app-field-error-display [displayError]="isFieldValid('confPassword')" [errorMsg]="confPasswordError" [isPasswordField]="true">
          </app-field-error-display>
      </div>
      <div class="row no-match" [hidden]="!noMatch">
        <span class="glyphicon glyphicon-remove-sign"></span> The two passwords do not match!!
      </div>
      <br>
      <div class="row">
        <div class="col-sm-9">
          <a (click)="cancel()">Cancel</a>
        </div>
        <div class="col-sm-2" style="margin-left: 5%;">
          <button type="submit" class="btn btn-primary" (click)="submit()" >Sign Up</button>
          <!-- [disabled]="!userForm.valid" -->
        </div>
      </div>
    </form>
    <br>
    <br>
    <div class="row" *ngIf="isError && !isLoad">
      <app-system-error [errorMessage]="systemError" (refresh)="submit()"></app-system-error>
    </div>
    <div class="spinner" *ngIf="isLoad">
      <app-spinner></app-spinner>
    </div>
  </div>
</div>